.center-hor{
    margin-right: auto;
    margin-left: auto;
}

.layout-table,
.layout-table th,
.layout-table td{
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

.header-table-coral{
    background-color: coral;
}

.text-center{
    text-align: center;
}